page-q-and-a-page {

}

.answer-right{
    background-color: green;
}

.answer-wrong{
    background-color: red;
}

.result{
    color: white;
    font-size: 2em;
}

.option{
     background-color: #D1EEEE;
}
.question{
    background-color: #FAFAD2;
}

